day1/rust/target
day2/rust/target
day3/rust/target
day4/rust/target
day5/rust/target
day6/rust/target
day7/rust/target
day8/rust/target
day1/typescript/node_modules
day2/typescript/node_modules
day1/typescript/target
day2/typescript/index.js